<DOCTYPE!>
<html>
<head>
</head>
<style>
body{
  background-image: url('http://cfile229.uf.daum.net/image/2531414C50FE4D2B32A17A');
}
h1{
  font-size: 40px;
  padding-left: 40px;
   color: BLACK;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
h2{
  font-size:45px;
}
label{
  font-size:30px;
  font-family: JOYSTICK;
}
a{
  font-size:25px;

}
input{
  font-size: 30px;
}
.ohyeah{
  text-align: center;
  padding-top: 100px;
}
  
</style>
<body>
<div class=ohyeah>  
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<div class= blank>
  <br></br>
  </div>
  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>